
<div class="container">
  <div class="title">
    <h3 id="title" >My pending requests</h3>
    <h4>
      <% pending_bookings = [] %>
      <% @skills.each do |skill| %>
        <% skill.bookings.each do |booking| %>
          <% if booking.status == "pending" %>
            <% pending_bookings << booking %>
          <% end %>
        <% end %>
      <% end %>
      <i class="fa fa-bolt"></i> <%= pluralize pending_bookings.size, "request" %> today
    </h4>
  </div>

<!-- my pending requests -->
  <% @skills.each do |skill| %>
    <% skill.bookings.each do |booking| %>
        <div class="booking-information-frame">

            <div class="booking-resume">
              <div class="title-image">
                <div class="inner-title"><%= skill.name %></div>
                <div><%= cl_image_tag skill.photo, width: 300, height: 200 %></div>
              </div>
              <%#= render "shared/card", skill: skill%>
              <div class="user-inf">
                <% if booking.status == "pending" %>
                  <div class="user-confirmation">
                    <div id="date">
                      <p > New request from <%= booking.starts_at.strftime("%b %d, %Y") %> to <%= booking.ends_at.strftime("%b %d, %Y") %></p>
                    </div>
                    <div class="status pending">
                      <%= booking.status %>
                    </div>
                    <div class="buttons">
                      <div class="button accept"> <%= link_to "Accept", booking_path(booking), method: :patch %></div>
                      <div class="button refuse"> <%= link_to "Refuse", booking_path(booking), method: :delete %></div>
                    </div>
                  </div>
                <% elsif booking.status == "confirmed" %>
                  <div class="user-confirmation">
                    <div id="date">
                      <p > Camp starting on <%= booking.starts_at.strftime("%b %d, %Y") %></p>
                    </div>
                    <div class="status confirmed">
                      <%= booking.status %>
                    </div>
                  </div>
                <% elsif booking.status == "refused"%>
                  <div class="user-confirmation">
                    <div id="date">
                      <p > You declined <%= booking.user.name.capitalize %>'s candidacy</p>
                    </div>
                    <div class="status refused">
                      <%= booking.status %>
                    </div>
                  </div>
                 <% else %>
                  <div class="user-confirmation">
                    <div id="date">
                      <p > Camp over</p>
                    </div>
                  </div>
                <% end %>
              <div class="user-picture-name">
                <%= image_tag booking.user.smart_avatar_url, class: "avatar" %>
                <p><%= booking.user.name.capitalize %></p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>

<!-- all the camps I created -->
  <div class="information-frame">
      <h3>All my camps</h3>
      <div class="row">
        <div class="booking-list">
          <% @skills.each do |skill| %>
            <div class="col-xs-12 col-md-4">
              <%= link_to skill_path(skill) do %>
                <div class="card">
                  <% if skill.photo.nil? %>
                    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'logo.png' %>');">
                    </div>
                  <% else %>
                    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= skill.photo %>');">

                    </div>
                  <% end %>
                  <div class="card-body">
                    <div class="card-description align-left">
                      <h2><strong> <%= skill.name %></strong> </h2>
                      <p><i class="fa fa-map-marker-alt"></i> <%= skill.location %></p>
                      <p id="price"> Price: <%= skill.price %>€</p>
                    </div>
                    <!-- <div class="profile-avatar" style="background-image: url('<%#= booking.user.photo %>');" >
                    </div> -->
                  </div>
                </div>
                <div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<%= javascript_pack_tag 'uploadbtn' %>


