<div class="container">
  <div class="text-wrapper">
    <h2>What new skill will you learn today?</h2>
      <div class="title">
        <h3 id="title">My experiences</h3>
      </div>

  <% @bookings.each do |booking| %>
    <div class="information-frame">
      <div class="booking-resume">
        <div class="title-image">
          <div class="inner-title"><%= booking.skill.name %></div>
          <div><%= cl_image_tag booking.skill.photo, width: 300, height: 200 %></div>
        </div>
        <div class="user-inf">
          <div class="user-confirmation">
            <div id="date">
              <p > New request from <%= booking.starts_at %> to <%= booking.ends_at %></p>
            </div>
            <div class="status">
              <% if booking.status == "pending" %>
                <p id="pending"><%= booking.status %></p>
              <% elsif booking.status == "confirmed"%>
                <p id="confirmed"><%= booking.status %></p>
              <% else %>
                <p id="refused"><%= booking.status %></p>
              <% end %>
            </div>
            <div class="user-picture-name">
              <%= image_tag booking.skill.user.smart_avatar_url, class: "avatar" %>
              <p>Trainer : <%= booking.skill.user.name.capitalize %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="information-frame">
    <div class="title">
      <h3 id="title">All my experiences</h3>
    </div>

    <div class="row">
      <div class="booking-list">
        <% @bookings.where.not(starts_at: nil).each do |booking| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to skill_path(booking.skill) do %>
              <div class="card">
                <% if booking.skill.photo.nil? %>
                  <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'logo.png' %>');">
                  </div>
                <% else %>
                  <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.skill.photo %>');">
                    <div id="start-date-frame">
                      <% days = (booking.starts_at - Date.today).to_i %>
                      <% if days <= 0 %>
                       <p id="finished">Bootcamp finished</p>
                      <% else %>
                        <p id="start-date">Starting in: <%= pluralize days, "day" %></p>
                      <% end %>
                    </div>

                  </div>
                <% end %>
                <div class="card-body">
                  <div class="card-description align-left">
                    <h2><strong> <%= booking.skill.name %></strong> </h2>
                    <p><i class="fa fa-map-marker-alt"></i> <%= booking.skill.location %></p>
                    <p id="price"> Price: <%= booking.skill.price %>€</p>
                  </div>
                  <div class="profile-avatar" style="background-image: url('<%= booking.user.photo %>');" >
                  </div>
                </div>
              </div>
              <div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</div>
