<div class="container">
  <div class="text-wrapper">
    <h2>What new skill will you learn today?</h2>
      <div class="title">
        <h3 id="title">My bookings</h3>
      </div>

    <!--  -->

    <% @bookings.each do |booking| %>
        <div class="information-frame">
          <div class="booking-resume">
            <div class="title-image">
              <div class="inner-title"><%= booking.skill.name %></div>
              <div><%= cl_image_tag booking.skill.photo, width: 300, height: 200 %></div>
            </div>
            <%#= render "shared/card", skill: skill%>
            <div class="user-inf">
              <div class="user-confirmation">
                <div id="date">
                  <p > New request from <%= booking.starts_at %> to <%= booking.ends_at %></p>
                </div>
                <div class="status">
                  <% if booking.status == "pending" %>
                    <p id="pending"><%= booking.status %></p>
                  <% elsif booking.status == "confirmed"%>
                    <p id="confirmed"><%= booking.status %></p>
                  <% else %>
                    <p id="refused"><%= booking.status %></p>
                  <% end %>
                </div>
              <div class="user-picture-name">
                <%= image_tag booking.skill.user.smart_avatar_url, class: "avatar" %>
                <p><%= booking.skill.user.name.capitalize %></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
