<div class="wrapper-booking-show" style="width: 400px; margin: 0 auto;">
  <div class="container">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="booking-date-picker">
        <h2><%= @skill.name %></h2>
        <p>When do you choose to learn how to survive?</p>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :starts_at, as: :string, required: false, input_html: {id:"range_start"} %>
          <%= f.input :ends_at, as: :string, required: false, input_html: {id:"range_end"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary btn-lg in_page" %>
        <% end %>
        <p><i class="fa fa-eur" aria-hidden="true"></i><%= @skill.price %>€</p>
      </div>
      <div class="booking-image">
        <%= cl_image_tag @skill.photo %>
      </div>
    </div>
  </div>
</div>
