<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-3">
      <%= simple_form_for [@skill, @booking] do |f|%>
        <%= f.input :starting_date %>
        <%= f.input :duration,  collection: 1..15 %>
            <!-- compute the duration price -->
        <%# stay_price = (@skill.price * @duration)%>
        <p>Total price : <%= @skill.price %>€</p>
        <%= f.button :submit %> <%= link_to "Cancel", skills_path %>
      <% end %>
    </div>
  </div>
</div>
