<div class="wrapper-image">
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      <div class="col-xs-6 col-xs-offset-3">
        <%= simple_form_for (@skill) do |f| %>
          <div class="form-group">

            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :location %>
            <%= f.input :price %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="form-btn">
            <%= f.submit "Create a skill", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>


  </div>
</div>


