<div class="banner in-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1477322524744-0eece9e79640?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=035b71dd850fcb7c3b82482c3e8a9503&auto=format&fit=crop&w=1011&q=80');">
  <div class="banner-content">
    <h1><%= @skill.name %></h1>

    <%= link_to "Book now", new_skill_booking_path(@skill), class: "btn btn-primary btn-lg in_banner" %>
  </div>
</div>


<div class="container">

  <div class="skill">
    <div class="camp">
      <div class="heading">
        <h2>Description of the camp </h2>
      </div>

      <div id="price">
        <%= @skill.price %>€
      </div>

      <div class="description">
        <p><%= @skill.description %></p>
        <p id="location">Location : <%= @skill.location %></p>
      </div>
    </div>


    <div class="left-part">
      <div class="trainer">
        <%= image_tag 'logo_trainer.png', class: "avatar" %>
        <p>Offered by <%= @skill.user.name %></p>
      </div>
      <div class="links">
        <%= link_to "Book", new_skill_booking_path(@skill), class: "btn btn-primary btn-lg in_page" %>

        <%#= link_to "Back to selection", skills_path, id: "home-link" %>
      </div>
    </div>
  </div>

</div>
