<div class="row"">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-background-white">
      <%= simple_form_for(@user) do |f| %>
        <div class="form-group">
          <%= f.input :name %>
          <%= f.input :location %>
          <%= f.input :specie %>
          <%= f.input :status, collection: ['trainer', 'trainee'] %>
          <label class="btn btn-primary btn-lg in_page" id='upload-btn'>
            Add a picture!
            <span style="display:none;">
              <%= f.input :photo, required: true, multiple: true, name: 'photo' %>
            </span>
            <%= f.input :photo_cache, as: :hidden %>
          </label>
        </div>
        <div class="form-btn">
          <%= f.submit "Update my profile", class: "btn btn-primary btn-lg in_page" %>
          <%= link_to "Back to profile", user_path(@user), class: "secondary-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'uploadbtn' %>



