
  <div class="back-image">
    <div class="row" style="padding-top: 30px;">
      <div class="col-xs-6 col-xs-offset-3">
        <%= simple_form_for (@user) do |f| %>
          <div class="form-group">

            <%= f.input :name %>
            <%= f.input :location %>
            <%= f.input :specie %>
            <%= f.input :status, collection: ['trainer', 'trainee'] %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="form-btn">
            <%= f.submit "Update my profile", class: "btn btn-primary btn-lg in_page" %>
          </div>
        <% end %>

      </div>
    </div>

  </div>


