<div class="row" style="padding-top: 30px;">
  <div class="col-xs-6 col-xs-offset-3">
    <%= simple_form_for (@skill) do |f| %>
      <div class="form-group">

        <%= f.input :name %>
        <%#= f.input :category %>
        <%= f.input :description %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="form-btn">
        <% if Skill.find(@skill.id).nil? %>
          <%= f.submit "Create a skill", class: "btn btn-primary btn-lg in_page" %>
        <% else %>
          <%= f.submit "Update the skill", class: "btn btn-primary btn-lg in_page" %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
