<div class="banner" style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%= image_path "whitebear.jpg" %>);">
  <div class="banner-content">
    <div class="col-xs-12 col-md-12">
      <h1>SAUVE TA RACE !</h1>
      <h2>Fais un stage de survie</h2>
      <div class="row">
        <%= link_to "Découvrir", "/skills", class: "btn btn-primary btn-lg in_banner"%>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <h2>Les stages où on apprend le plus !</h2>
      <% @best = @skills.sample(3) %>
      <% @best.each do |skill| %>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <%= link_to skill_path(skill) do %>
            <div class="card">
              <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= skill.image_url %>);">
                <div class="card-category"></div>
              </div>
              <div class="card-body">
                <div class="card-description">
                  <h2><strong> <%= skill.name %></strong> </h2>
                  <p><i class="fa fa-map-marker-alt"></i> <%= skill.location %></p>
                  <p id="price"> Price: <%= skill.price %>€</p>
                </div>
                <img class="card-user" src="https://i.pinimg.com/736x/89/49/8e/89498e10092d7b57c0ebc11a5b535cb2--twitter-cats.jpg">
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="wrapper-button">
      <div class="col-xs-12">
        <%= link_to "Voir plus de stages", "/skills", class: "btn btn-primary btn-lg in_banner"%>
      </div>
    </div>
  </div>
</div>

